# Basic Python

## 1. Split this string

In [1]:
s = "Hi there Sam!"

In [3]:
x=s.split();
print(x)

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [5]:
print("The diameter of {} is {} kilometers.".format("Earth",12742))

The diameter of Earth is 12742 kilometers.

## 3. In this nest dictionary grab the word "hello"

In [11]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [12]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

# Numpy

In [13]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [15]:
array=np.zeros(10)

In [16]:
array=np.ones(10)*5

## 5. Create an array of all the even integers from 20 to 35

In [17]:
array=np.arange(20,35,2)

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [19]:
a=np.arange(0,9).reshape(3,3)

## 7. Concatinate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [23]:
import numpy as np
a=np.array([1,2,3])
b=np.array([4,5,6])
x=np.concatenate((a,b),axis=None)

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [25]:
import pandas as pd

In [26]:
lst=[['Ajay',22],['Abi',32],['Jose',20]]
df=pd.DataFrame(lst)

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [28]:
import datetime
import pandas as pd
test_date=datetime.datetime.strptime("01-01-2023","%d-%m-%Y")
k=41
date_generated=pd.date_range(test_date,periods=k)
print(date_generated.strftime("%d-%m-%Y"))

Index(['01-01-2023', '02-01-2023', '03-01-2023', '04-01-2023', '05-01-2023',
       '06-01-2023', '07-01-2023', '08-01-2023', '09-01-2023', '10-01-2023',
       '11-01-2023', '12-01-2023', '13-01-2023', '14-01-2023', '15-01-2023',
       '16-01-2023', '17-01-2023', '18-01-2023', '19-01-2023', '20-01-2023',
       '21-01-2023', '22-01-2023', '23-01-2023', '24-01-2023', '25-01-2023',
       '26-01-2023', '27-01-2023', '28-01-2023', '29-01-2023', '30-01-2023',
       '31-01-2023', '01-02-2023', '02-02-2023', '03-02-2023', '04-02-2023',
       '05-02-2023', '06-02-2023', '07-02-2023', '08-02-2023', '09-02-2023',
       '10-02-2023'],
      dtype='object')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [29]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [30]:
df=pd.DataFrame(lists,columns=['Id','Name','Age'])